################################################################################
# Pro Motion PureBasic                                                         #
# https://github.com/tajmone/pmotion-purebasic                                 #
################################################################################

*.exe
*.dll

*.lnk
*.url

### PureBasic
#############
*.pb.cfg
*.pbi.cfg
*.pbp
project.cfg

### TMP Work Files
##################
___*.*

### Windows
###########
Desktop.ini

Thumbs.db
ehthumbs.db
ehthumbs_vista.db

$RECYCLE.BIN/

# EOF #
