##################################################
#  Pro Motion PureBasic                          #
#  https://github.com/tajmone/pmotion-purebasic  #
##################################################

* text=auto

### PureBasic
#############
[attr]PureBasic text linguist-language=PureBasic
*.cfg   text linguist-generated=true
*.pb    PureBasic
*.pbf   PureBasic
*.pbi   PureBasic
*.pbp   linguist-language=XML linguist-generated=true

### repository configuration
############################
.editorconfig    text eol=lf
.travis.yml      text eol=lf
.gitattributes   text eol=lf
.gitconfig       text eol=lf
.gitignore       text eol=lf
.gitmodules      text eol=lf

### scripts
###########
*.bat  text eol=crlf
*.sh   text eol=lf

### docs
################
*.adoc      text
*.asciidoc  text
*.md        text
*.txt       text
LICENSE*    text

### configuration
####################
*.cnf           text
*.conf          text
*.config        text
*.ini           text
*.prefs         text

### executables
###############
*.dll  binary
*.exe  binary
*.exp  binary
*.lib  binary

### archives
#############
*.7z   binary
*.tar  binary
*.zip  binary

### graphics
##############
*.bmp   binary
*.gif   binary
*.ico   binary
*.jpeg  binary
*.jpg   binary
*.png   binary
*.svg   binary

# EOF #
