##################################################
#  Pro Motion PureBasic                          #
#  https://github.com/cosmigo/pmotion-purebasic  #
##################################################

*.lnk
*.url

### PureBasic
#############
*.pb.cfg
*.pbi.cfg
*.pbp
project.cfg

### Compiler output
###################
*.dll
*.exe
*.exp
*.lib

### TMP Work Files
##################
___*
___*.*

### Windows
###########
Desktop.ini

Thumbs.db
ehthumbs.db
ehthumbs_vista.db

$RECYCLE.BIN/

# EOF #
